.login-page{
  max-width: 600px;
  margin: 150px auto 0;
}
.login-page form{
  box-shadow: 0 0 15px #ccc;
  padding: 15px 50px;
  border-radius: 15px;
}
.login-page form h2{
  text-align: center;
  color: cornflowerblue;
}
.google-login{
  background-color: #4285f4;
  width: 164px;
  height: 42px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  position: relative;
  padding-left: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
}
.sign-up .google-login{
  width: 100%;
}
.google-login:hover{
  background-color: #1669F2;
  cursor: pointer;
}
.google-login img{
  width: auto;
  background: #fff;
  height: 30px;
  margin: 3px 1px 0 2px;
  padding: 3px 3px;
  position: absolute;
  left: 1px;
}
.forgot-google-container{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  padding-top: 20px;

}
.forgot-google-container > span{
  align-self: center;
  color: #4285f4;
}
.forgot-google-container > span:hover{
  text-decoration: underline;
  cursor: pointer;
}